﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{
    var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray();
}

@if (selection.Length > 0)
{
    
    <ul class="nav navbar-nav">
        @foreach (var item in selection)
        {

            if (item.Children.Where(x => x.IsVisible()).Count() > 0)
            {
                var projectItems = item.DescendantsOrSelf("projectItem");
                var articleItems = item.DescendantsOrSelf("articleItem");

                <li role="presentation" class="@(item.IsAncestorOrSelf(Model.Content) ? " active" : null) dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> @item.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        @foreach (ProjectItem child in projectItems)
                        {
                            var memberStatus = Members.GetCurrentLoginStatus().IsLoggedIn ? Members.GetCurrentMemberProfileModel().MemberTypeAlias : "public";
                            if (child.ProjectStatus == 23 || memberStatus == "active")
                            {
                                <li><a href="@(item.Url + child.UrlName)"> @child.Name</a></li>
                            }

                        }

                        @foreach (ArticleItem child in articleItems)
                        {
                            <li><a href="@(item.Url + child.UrlName)"> @child.Name</a></li>
                        }

                    </ul>
                </li>

            }
            else
            {
                <li class="@(item.IsAncestorOrSelf(Model.Content) ? " active" : null)">
                    <a href="@item.Url"> @item.Name</a>
                </li>

            }

        }
    </ul>
}