﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<h2>@Model.Content.ArticleTitle</h2>
<p>@Model.Content.ArticleContent</p>
