﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div>
    @Model.Content.MainContent
</div>
<div>
    @Umbraco.RenderMacro("listNewestProjects")
</div>