﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MembersPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
}
<h2>Member List</h2>
@{var memberService = ApplicationContext.Current.Services.MemberService;
    var members = memberService.GetMembersByGroup("Active");}

@foreach (var member in members)
{
    <p>
        @member.Name <br>
        @member.GetValue("address")<br>
        @member.GetValue("zip") @member.GetValue("city")) <br>
        Email: @member.Email<br>
        Skills:
        @{
            if (member.GetValue("skills") != null)
            {
                string[] skills = member.GetValue("skills").ToString().Split(',');
                string skillString =
                string.Join(", ", from skill in skills
                                  select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
                <span>@skillString</span>
            }
            <br />
            if (member.GetValue("photo") != null)
            {
                string image = member.GetValue<string>("photo");
                if (image != null)
                {
                    ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
                    string imagePath = imageCrop.Src.GetCropUrl(width: 100);
                    <img src="@imagePath" />}
            }
        }<br />

    </p>

}
