﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@{ 
    var news = Model.Content.Site().Children.Where(x => x.IsVisible() && x.DocumentTypeAlias == "news").First();
}

@foreach(NewsItem item in news.Children)
{
    <h2>@item.Headline</h2>
    <p>@item.NewsContent</p>
    
}

