﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<h2>@Model.Content.ProjectTitle</h2>
<p>@Model.Content.ProjectDescription</p>
